body { background: white; color: black; font-family: sans-serif }
.err { color: red }
.warn { color: fuchsia }
.proven { color: #0C0 }
.green { color: #0A0 }
.yellow { background: yellow }
.hides { color: teal }
.comment { color: maroon }
.unimp { color: gray; font-size: small }
.debug { color: gray }
.assess { color: purple }
.kbd { font-family: monospace }
h1 { color: blue; background: white; font-family: sans-serif }
h1.teacher { color: fuchsia; background: white; font-family: sans-serif }
h1.err { color: red; background: white; font-family: sans-serif }
h1.help { color: green; background: white; font-family: sans-serif }
h2 { color: maroon; background: white; font-family: sans-serif }
h3 { color: purple; background: white; font-family: sans-serif }
p.justify { text-align: justify }
p.centre { text-align: center }
p.set { color: blue }
p.errbox { color: white; background: black; border: solid red;
  max-width: 100ex }
td.right { text-align: right }
table.border { border-collapse: collapse; margin-right: 2em;
  margin-bottom: 1em }
td.top { vertical-align: top }
td.sym { border: solid 1pt; padding: 3pt 1em 3pt 1em; text-align: justify }
td.kbd { border: solid 1pt; padding: 3pt 1em 3pt 1em; font-family: monospace }
table.ifr{ width: 100%; table-layout: fixed }
td.ifrl { width: 40% }
td.ifrr { width: 60% }
iframe { width: 100%; border: thin solid; background: #F4F4F4 }
dd { text-align: justify }
i.math { font-family: Times, serif; font-weight: normal; font-style: italic }
